.display-container {
    display: flex;
    
    flex-direction: column;
    justify-content: space-between;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    transition: transform .2s;
    border-radius: 20px;
    padding: 20px;

    margin: 25px;
}



.project-links button {
    margin: 20px;
}

#projects-title {
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 40px;
    text-shadow: rgb(0,0,0) 10px 10px;
    font-size: 5rem;
    transition: all 500ms;
}

#projects-title:hover {
    transform: scale(0.9);
   text-shadow: none;  
   box-shadow: 5px 5px 10px 5px black ;
   background: #5C70A8;
   cursor: pointer;
   border-radius: 20px;
   padding: 20px;
}

.display-container p {
    font-size: 25px;
    color: gray;
    
}

.display-container h1 {
    font-size: 40px;
   
    border-radius: 20px;

    
}

.display {
    border: solid white 2px;
    padding: 10px;
    margin: 20px 20px;
    border-radius: 20px;
    /* background-color:rgb(34,39,55, 0.8); */
    transform: scale(0.9);
    box-shadow: 5px 5px 10px 5px black;
    transition:all .5s ease;
   
   
   
}
.display:hover {
    transform: scale(1.06);
    transition: all 0.3s ease-out;
    color: #1c2237;
    cursor: pointer;
    margin: 20px;
    -webkit-transition: opacity .9s, margin-left .5s, margin-right .5s;
    box-shadow: none;
}

.display:hover {
    background: none;
    border: none;
}



.display img {
    width: 80%;
    height: 80%;
    border-radius: 20px;
    margin: 20px;
}

.mid {
    /* background-color:rgb(34,39,55, 0.8); */
}

.block-1 {
flex: 1
}

.block-2 {
    flex: 1

}

.block-3 {
    flex: 1

}

.code-list {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
margin: 10px;

}

.code-list li {
    list-style: none;
    font-size: 35px;
    margin: 20px;
}

.code-use h1 {
   margin: 20px;
   font-size: 30px;
}


@media screen and (min-width: 1000px) {
    .project-showcase img {
        height: 100%;
        width: 100%;
        border-radius: 20px;
    }
}

@media screen and (min-width: 1400px) {
.display-container {
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 90%;
}

.mid {
    padding-left: 20px;
    padding-right: 20px
}

.project-showcase  {
   height: 100%;
   width: 100%;

}

#projects-title {
    font-size: 50px;
}


.mid {
    transform: scale(1.05);
    /* background-color:rgb(34,39,55, 0.8); */
}

.project-showcase img {
    width: 90%;
}

.display:hover {
    transform: scale(1.06);
    transition: all 0.3s ease-out;
    color: #1c2237;
    cursor: pointer;
    margin: 20px;
}

.display {
height: 90%;
width: 90%;
}


}


@media screen and (min-width: 2000px) {
.display-container  {
    transform: scale(0.7);
}

.projects-container {
   margin-left: 200px;
   margin-right: 200px;
}
}