.project{
    margin: 20px;
    padding: 20px;
}

.project-img {
    height: 200px;
    
}

.projects-section h1 {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    background: #5C70A8;
}


.project-text {

    padding: 20px;
   
 
  margin-top: 50px;
  border-radius: 20px;

}
.skills-text h1 {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background: #5C70A8;
    border-radius: 20px;
    text-shadow: 5px 5px black;
    box-shadow: 5px 5px black;
    transition: all 600ms;
    
}
.skills-text h1:hover {
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;
    transform: translate(0.2);
    background: none;
    transform: translate(10px);


}

.project-text h3 {
    font-size: 27px;
    text-transform: uppercase;
}

.project-text h4{
    color: lightblue;
    font-size: 23px;
}

.project-text p {
    font-size: 20px;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}



.code-used {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 10px;
}
.code-used li {
    margin: 10px;
    font-size: 23px;
}

.project-1 {
    background: #161616; 
    transition: all 1s;
}

.project-1:hover {
    border: solid white 1px;
    cursor: pointer;
}

.project-2 {
    background: #161616; 
    transition: all 1s;
}
.project-2:hover {
    border: solid white 1px;
    cursor: pointer;
}

@media screen and (min-width: 1440px) {
    .projects-display {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .projects-container {
        padding: 20px;
    }
    .project-text {
        padding: 30px;
    }


.project-img {
    height: 250px;
}




}