
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(45,49,51, 0.3);
    transition: transform .2s;
    border-radius: 20px;
    padding: 20px 20px 20px 50px;

    box-shadow: 5px 5px 10px 5px black;

    width: 100%;
    

}


.about-title h1:hover{
   cursor: pointer;
   transform: scale(0.9);
   text-shadow: none;  
   box-shadow: 5px 5px 10px 5px black ;
   background: #5C70A8;
   
}

#about-title {
    font-size: 45px;
    font-weight: 700;
    font-style: black;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
transition: all 700ms;
color: white;
padding: 15px;
padding-bottom:35px;
text-shadow: 10px 10px black;
}

#about-title:hover {
    text-shadow: none;
}

#about-para {
    font-size: 25px;
    margin-bottom: 20px;
    width: 100%;
}


.about-title {
    text-align: center;
   
}




.about-text {
    margin-top: 20px;
   font-weight: 300;
   font-family: 'Montserrat', sans-serif;
   padding: 25px;
  
}


#about-img {
    height: 300px;
}



.container-two {
    margin: 0;
}










@media screen and (min-width: 1000px) {
    .about-img img {
        height: 60%;
        width: 60%;
    }


    .container-two {
        padding: 20px;
       
    }
 

  
}



@media screen and (min-width:1400px ) {
    .about-container {
      display: grid;
grid-template-columns: 4fr 5fr;
grid-template-rows: 4;
justify-content: center;
align-items: center;


    }

     
  .container {
      display: flex;
      
  }

    .container-two {
        display: flex;
        justify-content: center;
        align-items: center;
      
    }




    #about-title {

        font-size: 50px;
       
    }

.about-title {
    width: 200%;
  text-align: center;
}


    .about-img img {
       height: 90%;
    width: 100%;
    margin-right: 40rem;
  padding-right: 20px;
        
       

    }

    
#about-para {
    font-size: 25px;
    
    padding: 20px;
    margin-bottom: 90px;
}



}



@media screen and (min-width: 1600px) {
    .about-container {
        width: 200px;
    }
}





@media screen and (min-width: 2000px) {
    .about-container {
        display: flex;
        justify-content: center;
        align-items: center;
  grid-template-columns: 2fr;
  grid-template-rows: 3;
  margin: 0;
width: 100%;

      }

      .container-two {
          width: 100%;
          padding: 90px;
          height: 900px;
      }

      .about-text h1{
       text-shadow: 8px 7px black;
    }

    #about-img {
        height: 100%;
        width: 100%;
       
    }

    #about-para {
        padding: 20px;
    }




}