.left-side {
    display: flex;
    flex-direction: column;
    text-align: center;
}
#contact {
    font-size: 20px;
    margin: 10px;
  
}
.form-section {
    padding: 25px;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.form-wrapper {
    background: #1B1F20;
    padding: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.form-section h1 {
    background: #5C70A8;
    width: 40%;
    border-radius: 20px;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
}

.textArea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label {
    height: 100%;
    font-size: 15px;
    margin: 10px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
  
}


input {
    margin-left: 15px;
    border: none;
    height: 30px;
    text-align: center;
    background: #2d3335;
    border-radius: 20px;
}

textarea {
    height: 20px;
    width: 190px;
   
    border: none;
    text-align: center;
    border-radius: 20px;
    background: #2d3335;
    margin-bottom: 30px;
}


@media screen and (min-width: 1440px){
#contact {
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    
}

.form-section {
    padding: 70px;
    border-radius: 20px;
}

textarea {
    width: 300px;
    height: 150px;
}

}