.text-container  {
    padding:10px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 40px;
    position: relative;
    bottom:70px;
    color: white;
}

h1:nth-child(1) {
    text-transform: uppercase;

}


.large-intro {
    display: none;
}


@media screen and (min-width: 900px) {
 .text-container {
     display: none;
 }
.large-intro {
    display: none;
    position: relative;
    bottom: 350px;
    text-align: left;
    left:80px

}

.large-intro h1 {
    color: #5C70A8;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.large-intro span {
    color: #5C70A8;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.large-intro p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

}

@media screen and (min-width:1000px) {
    .large-intro {
        display: flex;
        flex-direction: column;
        position: relative;
        bottom:30rem;
        
    }

    .large-intro h1 {
        font-size: 40px;
    }

    .large-intro p {
        color: white;
        font-size: 20px;
    }
}

#circle1 {
    height: 160px;
    width: 160px;
    position: relative;
 bottom: 53rem;
 left: 20px;
    
   
}


#circle2 {
    height: 160px;
    width: 160px;
    position: relative;
    bottom: 32rem;
    left: 30rem;
    

}
#circle3 {
    height: 160px;
    width: 160px;
    position: relative;
    bottom: 500px;
    right:35rem;
}
#circle4 {
    height: 160px;
    width: 160px;
    position: relative;
    bottom: 60rem;
    left: 14rem;
}