#resume {
    color: white;
    background: none;
    border: solid darkgray 1px;
    border-radius: 20px;
    padding: 15px;
    position: relative;
    top: 3rem;
    right:19rem;
    font-family: 'Montserrat',sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    display: none;
}

@media screen and (min-width: 1000px) {
#resume {
    display: inline;
}
}