.selfie-container img {
  height: 350px;
  user-select: none;

}


.titlename {
    color: white;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    user-select: none;
}

.social-links {
    display: flex;
    font-size: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.social-links ul {
    display: flex;
    list-style: none;
    transition:  all 500ms;
}

.social-links ul li:hover 
{ transform: 
    translateY(-10px); transition: transform 250ms; }



@media screen and (min-width: 1200px) {
    .social-links {
        font-size: 40px;
        margin: 0;
    }
.selfie-container img {
    height: 500px;
}

#github {
    margin: 0;
}
.titlename {
    font-size:15px;
}


}


