.footer-container {
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 150px;
}



#twitter {
    color: #0C76B8;
}

.social-icons {
    font-size: 50px;
    

}
.social-icons li {
    margin: 20px;
    transition: all 500ms;
    
}

.social-icons li:hover {
   transform: scale(1.2);

   
 
   

}

