

.skills-section {
    padding: 20px;
}

.skills-container {
    background: #1B1F20;
    padding: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.skills-text h1 {
    font-size: 40px;
    margin-bottom:30px;
    font-family: 'Montserrat',sans-serif;
    text-shadow: none;
}


.skills-text p {
    font-size: 23px;
    line-height: 35px;
    
}

.skills-icons ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-icons {
    font-size: 30px;
    margin-top: 15px;
}

.skills-icons li {
    margin: 10px;
}


#javascript {
    color: #E8D54C;
}

#react {
    color: #60D7F5;
}


#html {
    color: #E96328;
}

#css {
    color: #2562E8;
}



#skill-img {
    height: 250px;
    margin: 20px;
   }


   @media screen and (min-width: 1440px) {

    .skills-section {
        padding: 80px;

    }
       .skills-container {
           padding: 80px;
           display: flex;
       }

       #skill-img {
           height: 500px;
        padding-left: 70px;
           
       }

       .skills-text {
           width: 60%;

       }

.skills-icons {
    font-size: 50px;
}

   }