

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


body {
  min-width: fit-content;
}

html {
  font-size: 10px;
color: lightgray;
min-width: fit-content;


}


a {
  text-decoration: none;
  color: white;
}


:root {
  --darkBg: #171D22;
}



.App {
  height: 100%;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  width: 100%;

background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-attachment: fixed;
}






