

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


li {
  list-style: none;
}
html {
  font-size: 10px;
color: lightgray;
 background: #1B1F20;




}

html,body {
  overflow-x: hidden;
  background: #17191A;
}

/* 191B1C */
a {
  text-decoration: none;
  color: white;
}


:root {
  --darkBg: #171D22;
  background-color: #171D22;
}



.App {
  height: 100%;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  width: 100%;

background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-attachment: fixed;
}






